<!-- As a link -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mx-4" href="#">Change Detection</a>
  </nav>
  
<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h5>Universal Component</h5>
      <app-universal></app-universal>
    </div>
    <div class="col-6">
        <h5>Child One</h5>
      <app-child-one></app-child-one>
    </div>
    <div class="col-6">
        <h5>Child two</h5>
      <app-child-two></app-child-two>
    </div>
  </div>
</div>
